.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.resetPasswordTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.resetPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.resetPasswordInput {
  width: calc(100% - 20px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.resetPasswordButton {
  width: 100%;
  background: black;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetPasswordMessage {
  margin-top: 20px;
  font-size: 14px;
  color: green;
  text-align: center;
}
